<nav class="navbar navbar-expand bg-header">
    <app-mini-header-top style="width: 100%;"></app-mini-header-top>
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Lovaini</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" >
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Kategori</a>
        </div>
        <form class="d-flex" role="search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button">Button</button>
          </div>
        </form>
      </div>
    </div>
  </nav>