<div class="container-fluid top-menu">
    <div class="top-menu-left">
        <p>Download Lovaini App</p>
        <div class="menu-download" style="width: 20px; height: 20px;background-color: red;"  appHoverJumboMenu></div>
    </div>
    <div class="top-menu-right">
        <p>Tentang Lovaini</p>
        <span class="separator">|</span>
        <p>Bantuan</p>
        <span class="separator">|</span>
        <p>Sign Up</p>
        <span class="separator">|</span>
        <p>Log in</p>
    </div>
</div>