<div class="container-fluid top-menu">
    <div class="top-menu-left">
        <div class="menu-download" 
        (mouseenter)="menuEnter($event)" (mouseleave)="menuLeave($event)">
            <p >Download Lovaini App</p>
            <div [@QRCode]="state">
                <img src="http://192.168.43.88:3000/demo-qrcode.png" class="qrcode" alt="qrcode"/>
            </div>
        </div>
    </div>
    <div class="top-menu-right">
        <p [routerLink]="['/user/bob']">Tentang Lovaini</p>
        <span class="separator">|</span>
        <p>Bantuan</p>
        <span class="separator">|</span>
        <p>Sign Up</p>
        <span class="separator">|</span>
        <p>Log in</p>
    </div>
</div>