.top-menu{
    display: flex;
}
.top-menu .top-menu-left {
    width: 100%;
    display: flex;
    gap: 10px;
}
.top-menu .top-menu-right{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
.top-menu .separator{
    color: white;
}
.top-menu p {
    margin: 0;
    padding: 0;
}

.top-menu .menu-download p:hover{
    cursor: pointer;
}
.top-menu .menu-download .qrcode{
    object-fit: cover;
    width: 11rem;
    height: auto;
}











@media screen and (min-width: 600px) {

}











